body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #2196f3;
    color: white;
    text-align: center;
    padding: 1rem;
}

section {
    margin: 1.5rem auto;
    max-width: 800px;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gallerie de photo {
    width: 5%; 
}

button {
    margin-top: 10px;
    padding: 0.5rem 1rem;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1976d2;
}
.top-button {
    text-align: center;
    margin-top: 20px;
}

.button-link {
    background-color: #FF69B4; /* Couleur rose */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #FF1493; /* Rose plus foncé lors du survol */
}
/* Styles pour la section du bouton et du QR code */
.top-button-container {
    display: flex;
    align-items: center; /* Centrer verticalement les éléments */
    gap: 15px; /* Espacement entre le bouton et le QR code */
    margin-bottom: 20px; /* Espacement sous cette section */
    justify-content: center; /* Centrer horizontalement l'ensemble */
}


.qr-code {
    width: 100px; /* Taille du QR code */
    height: auto; /* Garder les proportions */
    margin-left: 20px; /* Décaler le QR code légèrement vers la droite */
}

.download-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.download-btn:hover {
    background-color: #0056b3; /* Changer la couleur au survol */
}

.top-button {
    margin-bottom: 20px;
}

.button-link {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.button-link:hover {
    background-color: #218838; /* Changer la couleur au survol */
}

h1, h2 {
    font-family: Arial, sans-serif;
}



